@font-face{
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf") format(truetype);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "Palatino Linotype";
    src: url("//font/palatinolinotype_bold.ttf") format(truetype);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "Georgia";
    src: url("../font/georgia_bolditalic.ttf") format(truetype);
    font-style: normal;
    font-weight: 400;
}
.body{
    font-family: 'Poppins';
    font-weight: 400;
}
.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: 100;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}
.nav {
    height: 60px;
    /* width: 802px; */
    margin-left: 252px;
}
.main_menu{
    display: flex;
    margin-top: 5px;
    list-style: none;
    color: #444444;
}
.menu_link{
    margin: 12px 28px 0 13px;
}
.menu_link a{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #353732;
    text-decoration: none;
}
.intro{
    padding: 100px 0 110px 0;
}
.container{
    width: 800px;
    margin: 0 auto;
}
.intro_wrapper{
    display: block;
}
.intro_wrapper img{
    width: 94px;
    height: 48px;
    margin-bottom: 20px;
}
.intro_text{
    font-family: 'Palatino Linotype';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;

color: #353732;
}
.section1{
    padding: 100px 0 100.25px 0;
    background-color: #eeeded;
}
.container{
    width: 800px;
    margin: 0 auto;
}
.text{
    margin-left: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
text-transform: uppercase;

color: #353732;
}
.text2{
    margin-left: 20px;
    font-family: 'Palatino Linotype';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;
color: #45525B;
}
.text3{
    margin-left: 20px;
    width: 500px;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #45525B;
}
.text4{
    margin-left: 20px;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 17px;

color: #45525B;
}
.textt{
    margin-left: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
text-transform: uppercase;

color: #353732;
}
.textt1{
    margin-left: 20px;
    font-family: 'Palatino Linotype';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #45525B;
}
.textt2{
    margin-left: 20px;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 17px;

color: #45525B;
}
.info{
    background-color: white;
    width: 505px;
    height: 553px;
}
.info2{
    width: 243px;
    position: relative;
    margin-top: -50px;
    margin-left: 525px;
    top: -500px;
    height: 270px;
    background-color: white; 
}
.info3{
    width: 243px;
position: relative;
    margin-top: 10px;
    margin-left: 525px;
    top: -500px;
    height: 270px;
    background-color: white; 
}
.texxt{
    margin-left: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
text-transform: uppercase;

color: #353732;
}
.texxt1{
    margin-left: 20px;
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
   
    color: #45525B;
}
.texxt2{
    margin-left: 20px;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 17px;

color: #45525B;
}
.ttext{
    margin-left: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
text-transform: uppercase;

color: #353732;
}
.ttext1{
    margin-left: 20px;
    font-family: 'Palatino Linotype';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;

color: #45525B;
}
.ttext2{
    margin-left: 20px;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 17px;

color: #45525B;
}
.info4{
    margin-top: -480px;
    background-color: white;
    width: 374px;
    height: 350px;
}
.info5{
    width: 374px;
    position: relative;
    margin-top: 10px;
    margin-left: 395px;
    top: -360px;
    height: 350px;
    background-color: white;
}
.teht{
    margin-left: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
text-transform: uppercase;

color: #353732;
}
.teht1{
    margin-left: 20px;
    font-family: 'Palatino Linotype';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #45525B;
}
.teht2{
    margin-left: 20px;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 17px;

color: #45525B;
}
.info6{
    margin-top: -340px;
background-color: white;
width: 243px;
height: 273px;
}
.info7{
    position: relative;
    margin-left: 265px;
    margin-top: -273px;
    background-color: white;
    width: 243px;
    height: 273px;
}
.info8{
    position: relative;
    margin-top: 10px;
    margin-left: 528px;
    top: -283px;
    background-color: white;
    width: 243px;
    height: 273px;
}
.teht3{
    margin-left: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
text-transform: uppercase;

color: #353732;
}
.teht4{
    margin-left: 20px;
    font-family: 'Palatino Linotype';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #45525B;
}
.teht5{
    margin-left: 20px;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 17px;

color: #45525B;
}